Repository dev-yakuza/deku-nextjs-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, remark-lint

eslint:
  run: npm run lint

stylelint:
  run: npm run lint:css

remark-lint:
  run: npm run lint:md

chore: Use npm install instead of npm ci
  .github/workflows/check_pr.yml
Due: none

chore: Use npm install instead of npm ci (#11)
  .github/workflows/check_pr.yml
Due: none

feat: Change i18n library from next-translate to next-i18next
  .storybook/main.js
  .storybook/preview.tsx
  components/SampleLocale/__snapshots__/index.test.tsx.snap
  components/SampleLocale/index.stories.tsx
  components/SampleLocale/index.test.tsx
  components/SampleLocale/index.tsx
  i18n.json
  locales/ja/common.json
  next-i18next.config.js
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  public/locales/en/common.json
  public/locales/ja/common.json
  public/locales/ko/common.json
  test/__snapshots__/index.test.tsx.snap
  test/index.test.tsx
  utils/i18n.ts
Due: eslint, stylelint

feat: Change i18n library from next-translate to next-i18next (#10)
  .storybook/main.js
  .storybook/preview.tsx
  components/SampleLocale/__snapshots__/index.test.tsx.snap
  components/SampleLocale/index.stories.tsx
  components/SampleLocale/index.test.tsx
  components/SampleLocale/index.tsx
  i18n.json
  locales/ja/common.json
  next-i18next.config.js
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  public/locales/en/common.json
  public/locales/ja/common.json
  public/locales/ko/common.json
  test/__snapshots__/index.test.tsx.snap
  test/index.test.tsx
  utils/i18n.ts
Due: eslint, stylelint

chore: Update package lock file
  package-lock.json
Due: none

refactor: Add no-console and @typescript-eslint/no-unused-vars rules to ESLint
  .eslintrc.json
  components/SampleButton/index.tsx
  package-lock.json
  package.json
Due: eslint, stylelint

refactor: Add no-console and @typescript-eslint/no-unused-vars rules to ESLint (#90)
  .eslintrc.json
  components/SampleButton/index.tsx
  package-lock.json
  package.json
Due: eslint, stylelint

chore: Change library
  README.md
  package-lock.json
  package.json
Due: remark-lint

update
  package-lock.json
Due: none

Update
  components/SampleButton/__snapshots__/index.test.tsx.snap
  test/__snapshots__/index.test.tsx.snap
Due: none

test: Update snapshot test
  components/SampleButton/__snapshots__/index.test.tsx.snap
  test/__snapshots__/index.test.tsx.snap
Due: none

style: Add eslint-plugin-import to check import order
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleButton/index.test.tsx
  components/SampleButton/index.tsx
  components/SampleLocale/index.stories.tsx
  components/SampleLocale/index.test.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: eslint, stylelint

style: Add eslint-plugin-import to check import order (#230)
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleButton/index.test.tsx
  components/SampleButton/index.tsx
  components/SampleLocale/index.stories.tsx
  components/SampleLocale/index.test.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: eslint, stylelint

style: Off react/react-in-jsx-scope eslint rule
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleLocale/index.stories.tsx
Due: eslint, stylelint

style: Off react/react-in-jsx-scope eslint rule (#232)
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleLocale/index.stories.tsx
Due: eslint, stylelint

feat: Add <Header /> component
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  components/organisms/Header/index.stories.tsx
  components/organisms/Header/index.test.tsx
  components/organisms/Header/index.tsx
  utils/test/mocks.tsx
Due: eslint, stylelint

feat: Add <Header /> component (#233)
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  components/organisms/Header/index.stories.tsx
  components/organisms/Header/index.test.tsx
  components/organisms/Header/index.tsx
  utils/test/mocks.tsx
Due: eslint, stylelint

style: Add consistent-type-imports rule to check import type
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleLocale/index.stories.tsx
  components/organisms/Header/index.stories.tsx
Due: eslint, stylelint

style: Add consistent-type-imports rule to check import type (#234)
  .eslintrc.json
  components/SampleButton/index.stories.tsx
  components/SampleLocale/index.stories.tsx
  components/organisms/Header/index.stories.tsx
Due: eslint, stylelint

feat: Add <BlogItem /> component
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/index.stories.tsx
  components/organisms/BlogItem/index.test.tsx
  components/organisms/BlogItem/index.tsx
  jest.config.js
  utils/test/mocks.tsx
Due: eslint, stylelint

feat: Add <BlogItem /> component (#235)
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/index.stories.tsx
  components/organisms/BlogItem/index.test.tsx
  components/organisms/BlogItem/index.tsx
  jest.config.js
  utils/test/mocks.tsx
Due: eslint, stylelint

test: Refactor test code for checking component order
  components/organisms/BlogItem/index.test.tsx
  components/organisms/Header/index.test.tsx
Due: eslint, stylelint

test: Refactor test code for checking component order (#236)
  components/organisms/BlogItem/index.test.tsx
  components/organisms/Header/index.test.tsx
Due: eslint, stylelint

fix: Make layout of Storybook full screen
  .storybook/preview.tsx
Due: eslint, stylelint

fix: Make layout of Storybook full screen (#237)
  .storybook/preview.tsx
Due: eslint, stylelint

feat: Add root link to <Header /> title
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  components/organisms/Header/index.test.tsx
  components/organisms/Header/index.tsx
Due: eslint, stylelint

feat: Add root link to <Header /> title (#238)
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  components/organisms/Header/index.test.tsx
  components/organisms/Header/index.tsx
Due: eslint, stylelint

test: Add clicking link test code
  components/organisms/BlogItem/index.test.tsx
  components/organisms/Header/index.test.tsx
  utils/test/index.tsx
  utils/test/mocks/mui.tsx
  utils/test/mocks/nextRouter.tsx
Due: eslint, stylelint

test: Add clicking link test code (#239)
  components/organisms/BlogItem/index.test.tsx
  components/organisms/Header/index.test.tsx
  utils/test/index.tsx
  utils/test/mocks/mui.tsx
  utils/test/mocks/nextRouter.tsx
Due: eslint, stylelint

feat: Add post detail link to <BlogItem /> component
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/index.test.tsx
  components/organisms/BlogItem/index.tsx
Due: eslint, stylelint

feat: Add post detail link to <BlogItem /> component (#243)
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/index.test.tsx
  components/organisms/BlogItem/index.tsx
Due: eslint, stylelint

refactor: Add organisms/index for importing easily
  components/organisms/index.tsx
Due: eslint, stylelint

refactor: Add organisms/index for importing easily (#244)
  components/organisms/index.tsx
Due: eslint, stylelint

refactor: Use MUI styled instead of emtion styled
  components/SampleButton/index.tsx
  components/organisms/BlogItem/index.tsx
Due: eslint, stylelint

refactor: Use MUI styled instead of emtion styled (#245)
  components/SampleButton/index.tsx
  components/organisms/BlogItem/index.tsx
Due: eslint, stylelint

test: Add Emotion serializer for checking CSS
  components/SampleButton/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  jest.setup.js
  test/__snapshots__/index.test.tsx.snap
Due: eslint

test: Add Emotion serializer for checking CSS (#246)
  components/SampleButton/__snapshots__/index.test.tsx.snap
  components/organisms/BlogItem/__snapshots__/index.test.tsx.snap
  components/organisms/Header/__snapshots__/index.test.tsx.snap
  jest.setup.js
  test/__snapshots__/index.test.tsx.snap
Due: eslint

docs: Fix wrong README contents
  .cspell.json
  README.md
Due: remark-lint

docs: Fix wrong README contents (#247)
  .cspell.json
  README.md
Due: remark-lint

feat: Add <FloatingActionLink /> component
  components/atoms/FloatingActionLink/__snapshots__/index.test.tsx.snap
  components/atoms/FloatingActionLink/index.stories.tsx
  components/atoms/FloatingActionLink/index.test.tsx
  components/atoms/FloatingActionLink/index.tsx
  components/organisms/BlogItem/index.test.tsx
  components/organisms/Header/index.test.tsx
  utils/test/mocks/nextRouter.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{css,tsx}
  remark-lint: any of: *.{md,markdown}
